// Header styles fof the Vibrant rebrand //

header {
	box-shadow: 0px 13px 27px -9px rgba(0,0,0,0.75);
	font-size: 16px;
	letter-spacing: 1px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

	@media only screen and (max-width: $lg-breakpoint) {
		position: relative;
	}

	.topbar {
		align-items: center;
		background: $nh-blue;
		color: $white;
		display: flex;
		height: fit-content;
		justify-content: space-between;

		@media only screen and (max-width: $md-breakpoint) {
			align-items: center;
			height: auto;
			justify-content: center;
		}

		a {
			color: $white;
			text-decoration: none;
		}

		.contact-info {
			align-items: center;
			display: flex;
			padding: 5px 0;

			@include flex-column-layout();
			
			>div {
				align-items: center;
				border-right: 1px solid $white;
				display: flex;
				padding: 0 15px;

				.fas {
					margin-right: 3px;
				}

				@media only screen and (max-width: $lg-breakpoint) {
					border: 0;
					line-height: 20px;
					margin: 0;
				}

				&:last-child {
					border: 0;
				}
				&:nth-child(2) {
					@include hide-mobile();
				}
				&:nth-child(3) {
					@include flex-column-layout(1300px);

					>div {
						border-right: 0;
					}
				}

				>div {
					align-items: center;
					border-right: 1px solid $white;
					flex-direction: row;
					display: flex;
					padding: 0 15px;

					&:first-child {
						padding-left: 0;
					}
				}
			}
		}

		.social {
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media only screen and (max-width: $md-breakpoint) {
				margin-left: 15px;
			}

			a {
				margin-right: 15px;
				font-size: 1.2em;
			}
		}

		div {
			display: flex;

			&:nth-child(2) {
				
				@media only screen and (max-width: $md-breakpoint) {
					flex-direction: column;
					
					.social {
						display: none;
						margin-left: 20px;
						padding: 10px 0;

						a {
							margin-top: 10px;
						}
					}
				}
			}
		}
	}

	.navigation {
		align-items: center;
		background: $white;
		color: $cp-gray;
		display: flex;
		font-size: 18px;
		font-weight: normal;
		justify-content: space-around;
		min-height: 80px;
		top: 0;
		width: 100%;
		z-index: 3;

		@include flex-column-layout();

		@media only screen and (max-width: $lg-breakpoint) {
			padding: 30px 0;
			justify-content: center;
			min-height: 150px;
		}

		>div {
			display: flex;
			justify-content: space-around;
			width: 33.3%;

			@include mobile-full-width();
		}

		.logo {
			margin-top: 20px;
			min-width: 350px;
			justify-content: center;

			img {
				z-index: 2;
				position: relative;
				width: 100%;
			}

			@media only screen and (max-width: $lg-breakpoint) {
				min-width: 300px;
				align-self: center;
				order: 1;
			}

			.oval {
				background: #fff;
				//box-shadow: 0px 6px 3px -7px rgba(0,0,0,0.75);
				border-radius: 60%;
			 	display: block;
			 	height: 100px;
			 	position: absolute;
			 	top: 45%;
			 	width: 350px;
				z-index: 1;

				@include hide-mobile($xl-breakpoint);
			}
		}

		.links {
			display: flex;

			@media only screen and (max-width: $lg-breakpoint) {
				order: 3;
			}

			a {
				color: $cp-gray;
				text-decoration: none;
				margin: 0 10px;
			}
		}

		.join {

			@media only screen and (max-width: $lg-breakpoint) {
				margin: 20px auto;
				order: 2;
			}

			a {
				color: $cp-blue;
				font-weight: 600;
				text-decoration: none;
				margin: 0 10px;
			}
		}

		.toggle-wrapper {
			display: flex;
			flex-direction: column;
			width: 30px;
			height: 26px;
			position: relative;
			margin: -12px 0 0 20px;
			z-index: 5;

			@media only screen and (min-width: $md-breakpoint) {
				display: none;
			}	

			p {
				color: $nh-blue;
				font-size: 0.6em;
				margin: 20px 0 0 -1px;
			}
		}

	.menu-toggle {
			cursor: pointer;		

			.bg {
				display: block;
				width: 100%;
				height: 30px;
				position: absolute;
				
			}

			.bar {
				background: $nh-blue;
				display: block;
				height: 2px;
				position: absolute;
				width: 100%;
				top: 10%;

				&:nth-child(2){
					top: 50%;
				}
				&:nth-child(3){
					top: 90%;
				}
			}

			&.active {

				.bar {
					//background: $white;
					transition: $menu-transition;
					
					&:first-child {
						transform: rotate(-45deg);
						top: 50%;
					}

					&:nth-child(2) {
						opacity: 0;
					}

					&:nth-child(3) {
						transform: rotate(45deg);
						top: 50%;
					}
				}
			}

			&.inactive {

				.bar {
					transition: $menu-transition;
					
					&:first-child {
						transform: rotate(0);
						top: 20%;
					}

					&:nth-child(2) {
						opacity: 1;
					}

					&:nth-child(3) {
						transform: rotate(0);
						top: 80%;
					}
				}
			}
		}
	}
}
