.internal_wrapper {
	
	padding-top: 80px;
	width: 100%;

	.internal_content_wrapper {
		text-align: center;

		.content {
		    margin: 0 auto;
			max-width: 1200px;
			padding: 0 50px;
		}
	}

	@media only screen and (max-width: $lg-breakpoint) {
		padding-top: 0px;
	}

	.internal-container {
		margin-top: 100px;
	}

	.location {
		text-align: center;

		h2, p {
			text-align: left;
		}

		.map-container {
			margin: 0 auto;

			iframe {
				width: 100%;
			}
		}

		.content {
			display: flex;
			margin: 0 auto;
			justify-content: space-between;
			width: 100%;

			@media only screen and (max-width: $lg-breakpoint) {
				flex-direction: column;
				align-items: center;
				padding: 0;
			}

			>div {
				&:first-child {
					width: 55%;

					@include mobile-full-width($lg-breakpoint, 80%);
				}
				&:nth-child(2) {
					width: 35%;

					@include mobile-full-width($lg-breakpoint, 80%);
				}

				
			}
		}
	}

	.page-header {

		img {
			width: 100%;
		}
	}

	.construction {
		display: flex;
		justify-content: space-between;
		padding-top: 50px;

		@media only screen and (max-width: $lg-breakpoint) {
			flex-direction: column-reverse;
		}

		.contact-box {
			background: $cp-blue;

			h2 {
				color: $white;
				font-family: $main-font;
				font-size: 30px;
				padding-top: 30px;
			}
		}

		>div {
			width: 45%;

			@include mobile-full-width($md-breakpoint);
		}
	}
}





